.initial-btn {
  background-color: var(--initial-btn-color);
  max-width: 36rem;
  border-radius: var(--default-bor-rad);
}
.initial-btn:hover,
.initial-btn:active {
  box-shadow: var(--btn-hover-small-border);
}
.link-title {
  width: 100%;
  display: inline-block;
  font-size: var(--init-btn-h2-size);
  font-weight: 500;
  line-height: 1.3;
  color: var(--primary-heading-color);
  padding: 2.3rem 3rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
.btn-desc {
  font-size: var(--smaller-paragraph-size);
  color: var(--init-btn-dec-color);
  padding: 2.4rem 3rem;
  padding-bottom: 2.6rem;
  line-height: 1.6;
}
@media (max-width: 30.375em) {
  .initial-btn {
    max-width: 100%;
  }
}
@media (max-width: 29.5em) {
  .link-title {
    font-size: 2.6rem;
  }
}
