.Root {
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  align-items: start;
  background-color: var(--initial-bg-color);
  height: 100dvh;
  padding-bottom: 3dvh; /* Adjust this value as needed */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
@media (max-height: 25em) {
  .Root {
    overflow-y: auto;
    padding-top: 6% !important;
    padding-bottom: 20% !important;
    position: relative;
  }
  .navroot {
    background-color: var(--initial-bg-color);
  }
}
.Root h1 {
  font-size: var(--h1-size);
  font-weight: 700;
  margin-bottom: 5.8rem;
}
.btn-flex-initial {
  display: flex;
  gap: 3rem;
}

/* media quiries */
@media (max-width: 29.5em) {
  .Root h1 {
    font-size: 3.1rem;
    line-height: 1.4;
    margin-bottom: 4.8rem;
  }
  .Root {
    padding-top: 13rem;
  }
}
.root-container {
  width: 96rem;
  max-width: 96rem;
  margin-inline: auto;
}
@media (max-width: 54.125em) {
  .root-container {
    width: auto;
    max-width: 90rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 30.375em) {
  .btn-flex-initial {
    flex-direction: column;
  }
  .Root {
    padding-bottom: 8rem;
  }
}
