.EmptyQueue {
  padding: 2.6rem 4rem;
  background-color: var(--list-box-color);
}
.EmptyQueue p {
  font-size: var(--bigger-paragraph-size);
  font-weight: 400;
}
.EmptyQueue.mar-bottom-more {
  margin-bottom: 2.8rem;
}
