.UserJoinQ {
  margin-top: -1rem !important;
  margin-bottom: 4.8rem;
}
.UserJoinQ .add-manually-form {
  display: flex;
  gap: 2rem;
  /* align-items: center; */
}
.UserJoinQ .leave-q {
  background-color: var(--delete-btn-color);
}
.UserJoinQ .edit-q {
  background-color: var(--password-cancel-btn-color);
}
