.Navbar {
  border-bottom: 1px solid var(--navbar-line-color);
  height: 6.9rem;
}
.sm-container.nav-container {
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 54.125em) {
  .sm-container.nav-container {
    max-width: 90rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.Navbar button {
  display: flex;
  align-items: center;
  background: none;
  gap: 1rem;
  height: 100%;
  color: var(--signature-color-light);
}
.Navbar button span::after {
  content: "Home";
}
.Navbar button span {
  font-size: var(--smaller-paragraph-size);
  font-weight: 400;
}
.back-icon-svg {
  width: 4rem;
  height: 4rem;
  display: inline-block;
}
.Navbar ul {
  display: flex;
  transform: translateY(-1%);
}
.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: var(--smaller-paragraph-size);
  color: var(--accessability-white);
}
@media (max-width: 44.25em) {
  .Navbar button {
    transform: translateX(-7%);
  }
}
.logo {
  display: flex;
  height: 100%;
  width: 15rem;
}
.logo-other-pages {
  width: 15rem;
}
.account-options {
  display: flex;
  cursor: pointer;
}
.profile-dropdown {
  width: 5rem;
}
