.ResetPassword {
  background-color: var(--initial-bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3vh; /* Adjust this value as needed */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
@media (max-height: 20em) {
  .ResetPassword {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4.8rem;
  }
}
.rp-container {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.ResetPassword h1 {
  font-size: var(--h1-size);
  font-weight: 400;
  margin-bottom: 3.2rem;
}
.ResetPassword p.p {
  font-size: var(--primary-paragraph-size);
  color: var(--settings-secondary-line-color);
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.ResetPassword .input-container {
  margin-bottom: 2rem;
  position: relative;
}
.ResetPassword input {
  width: 100%;
  height: 6rem;
  background-color: var(--password-input-bg-color);
  border: none;
  padding-left: 2.4rem;
  padding-right: 8rem;
  font-size: var(--primary-paragraph-size);
  color: var(--accessability-white);
}
.ResetPassword input::placeholder {
  font-size: var(--primary-paragraph-size);
  color: var(--password-placeholder-color);
  font-weight: 400;
}
.ResetPassword input:focus {
  outline: none;
  box-shadow: var(--btn-hover-small-border);
}

.ResetPassword button {
  font-size: var(--primary-paragraph-size);
  margin-top: 1.8rem;
  height: 6rem;
}
.two-btn {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.cancel-btn,
.submit-btn {
  color: var(--primary-paragraph-color);
  font-weight: 500;
}
.cancel-btn {
  background-color: var(--password-cancel-btn-color);
  width: 100%;
}
.submit-btn {
  background-color: var(--signature-color);
  width: 100%;
}
.submit-btn:hover {
  box-shadow: var(--btn-hover-small-border);
}
.eye-btn {
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translateY(-48%);
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  width: 3.6rem;
  height: 3.6rem;
}
@media (max-width: 22.75em) {
  .rp-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.ResetPassword .not-password-input {
  margin-bottom: 2rem;
}
.ResetPassword .conform-password {
  margin-bottom: 0.8rem;
}
