/* ////////////////////////// */
/* MAIN */
/* ////////////////////////// */

.Manager {
  padding-bottom: 15rem;
  padding-top: 0.4rem;
}
.manager-container {
}
.Manager h1 {
  font-size: var(--h2-size);
  font-weight: 600;
  margin-bottom: 5.2rem;
}

/* ////////////////////////// */
/* WHEN USER IS NOT VARIFIED */
/* ////////////////////////// */
.not-admin {
  display: flex;
  flex-direction: column;
  max-width: 58rem;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 8rem;
  align-items: flex-start;
}
.not-admin h1 {
  font-size: 4.4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
  line-height: 1.4;
}
.not-admin p {
  font-size: 2.3rem;
  color: rgb(255, 255, 255, 75%);
  line-height: 1.6;
  margin-bottom: 3rem;
}
.not-admin .modify-btn {
  display: inline-block;
  font-size: var(--bigger-paragraph-size);
  padding: 1.6rem 8rem;
}
.not-admin .modify-btn:hover {
  box-shadow: var(--btn-hover-big-border);
}
@media (max-width: 32em) {
  .not-admin {
    padding-top: 12rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .not-admin h1 {
    font-size: 4rem;
  }
}
