@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

:root {
  --initial-bg-color: #343541;
  --initial-btn-color: #565869;

  --password-cancel-btn-color: #7e7f8f;

  --primary-heading-color: #fff;
  --primary-paragraph: #fff;

  --signature-color: #6066a8;
  --signature-color-light: #e7e9ff;
  --signature-bg-color: #4e4f61;

  --list-box-color: #65677a;
  --rocket-color: #5c5e73;

  --video-link-btn-color: rgb(255, 255, 255, 16%);
  --settings-secondary-line-color: rgb(255, 255, 255, 70%);

  --select-menu-color: #707180;
  --create-sm-color: #9091a3;

  --drag-dots-color: rgb(255, 255, 255, 50%);
}
