/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* Open Sans */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800;900&display=swap"); */

/* Roboto */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap"); */

/* Lato */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--signature-bg-color);
}

:root {
  --initial-bg-color: #343541;
  --initial-btn-color: #565869;

  --password-cancel-btn-color: #7e7f8f;
  --password-input-bg-color: #565869;
  --password-placeholder-color: rgb(255, 255, 255, 60%);

  --primary-heading-color: #fff;
  --primary-paragraph-color: #eee;
  --accessability-white: #fff;

  --signature-color: #6066a8;
  --signature-color-light: #e7e9ff;
  --signature-bg-color: #4e4f61;

  --list-box-color: #65677a;
  --rocket-color: #5c5e73;

  --video-link-btn-color: rgb(255, 255, 255, 16%);
  --video-link-btn-color-hover: rgb(255, 255, 255, 10%);
  --settings-secondary-line-color: rgb(255, 255, 255, 70%);

  --select-menu-color: #707180;
  --create-sm-color: #9091a3;

  --drag-dots-color: rgb(255, 255, 255, 50%);

  --error-bg: rgb(210, 109, 109, 40%);
  --error-border: 0 0 0 1.2px #eb7a7a;

  --btn-hover-big-border: 0 0 0 2px var(--primary-paragraph-color);
  --btn-hover-small-border: 0 0 0 0.7px var(--primary-paragraph-color);

  --primary-paragraph-size: 2rem;
  --error-paragraph-size: 1.8rem;
  --bigger-paragraph-size: 2.4rem;
  --smaller-paragraph-size: 1.8rem;
  --smallest-paragraph-size: 1.6rem;
  --h1-size: 4rem;
  --h2-size: 3.4rem;

  /* TODO: LINE HEIGHT VARIABLES */
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
p,
button,
link,
ul,
ol {
  color: #fff;
}

.bigr-container,
.sm-container {
  margin: 0 auto;
  padding: 5.2rem 0;
}
.bigr-container {
  max-width: 106rem;
}
.sm-container {
  max-width: 96rem;
}

.error {
  font-size: var(--error-paragraph-size);
  color: var(--primary-paragraph-color);
  padding: 1.6rem;
  background-color: var(--error-bg);
  box-shadow: var(--error-border);
}

@media (max-width: 54.125em) {
  .sm-container {
    max-width: 90rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .queue-list-in-both li {
    padding-right: 0;
  }
}

/* @media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
} */
@media (max-width: 64em) {
  html {
    font-size: 53%;
  }
}

/* ============== */
/* QUEUE LIST */
/* ============== */
.flex-name-n-btn {
  display: flex;
  align-items: center;
  width: 100%;
}
.queue-list-in-both {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.queue-list-in-both li {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--list-box-color);
  padding-right: 12rem;
  position: relative;
}
.queue-list-in-both h2 {
  font-size: 4.8rem;
  z-index: 100;
}

.queue-list-in-both h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rocket-color);
  clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
  height: 100%;
  width: 14rem;
  z-index: -1;
}
.queue-list-in-both li:first-child h2::before {
  background-color: var(--signature-color);
}

.queue-list-in-both p {
  font-size: 2.6rem;
  font-weight: 500;
  margin-left: 10rem;
  line-height: 1.3;
}
.queue-list-in-both a::before {
  content: "Open requested video";
}
.queue-list-in-both a {
  margin-left: auto;
  color: var(--primary-paragraph-color);
  font-size: var(--smallest-paragraph-size);
  padding: 1.2rem 3rem;
  background-color: var(--video-link-btn-color);
  font-weight: 400;
  text-align: center;
}
.queue-list-in-both a:hover {
  box-shadow: var(--btn-hover-small-border);
}
@media (max-width: 54.125em) {
  .queue-list-in-both li {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .queue-list-in-both p {
    margin-left: 10rem;
  }
}
@media (max-width: 40.625em) {
  .queue-list-in-both a::before {
    content: "Open video";
  }
}
@media (max-width: 31.25em) {
  .queue-list-in-both a {
    line-height: 1.2;
    margin-left: 8rem;
    margin-top: 1.6rem;
  }
  .queue-list-in-both h2::before {
    width: 11rem;
  }
  .queue-list-in-both p {
    margin-left: 8rem;
  }
  .queue-list-in-both li {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .flex-name-n-btn {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-left: 1rem;
  }
}
/* ================ */
