/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* Open Sans */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800;900&display=swap"); */

/* Roboto */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap"); */

/* Lato */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--signature-bg-color);
  color: #fff;
}

:root {
  --initial-bg-color: #343541;
  --initial-btn-color: #565869;

  --password-cancel-btn-color: #7e7f8f;
  --input-bg-on-queue-pages: #65677a;
  --password-input-bg-color: #565869;
  --password-placeholder-color: rgb(255, 255, 255, 60%);

  --primary-heading-color: #fff;
  --primary-paragraph-color: #eee;
  --accessability-white: #fff;

  --signature-color: #6066a8;
  --signature-color-light: #e7e9ff;
  --signature-bg-color: #4e4f61;

  --list-box-color: #65677a;
  --rocket-color: #5c5e73;
  --delete-btn-color: #d46363;

  --video-link-btn-color: rgb(255, 255, 255, 16%);
  --video-link-btn-color-hover: rgb(255, 255, 255, 10%);
  --settings-secondary-line-color: rgb(255, 255, 255, 70%);
  --navbar-line-color: rgb(255, 255, 255, 50%);

  --select-menu-color: #707180;
  --create-sm-color: #9091a3;

  --drag-dots-color: rgb(255, 255, 255, 50%);

  --error-bg: rgb(210, 109, 109, 40%);
  --error-border: 0 0 0 1.2px #eb7a7a;

  --signature-input-focus: 0 0 0 0.7px var(--signature-color-light);
  --btn-hover-big-border: 0 0 0 2px var(--primary-paragraph-color);
  --btn-hover-small-border: 0 0 0 0.7px var(--primary-paragraph-color);

  --input-bottom-border-color: rgb(255, 255, 255, 0.7);
  --input-placeholder-color: rgb(255, 255, 255, 0.6);

  --primary-paragraph-size: 2rem;
  --error-paragraph-size: 1.8rem;
  --bigger-paragraph-size: 2.4rem;
  --medium-paragraph-size: 2.2rem;
  --smaller-paragraph-size: 1.8rem;
  --smallest-paragraph-size: 1.6rem;
  --h1-size: 4rem;
  --h2-size: 3.4rem;
  --sectiono-h2: 3rem;
  --bigr-h1: 4.8rem;

  /* TODO: LINE HEIGHT VARIABLES */
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bigr-container,
.sm-container {
  margin: 0 auto;
  padding: 5.2rem 0;
}
.bigr-container {
  max-width: 106rem;
}
.sm-container {
  max-width: 96rem;
}

.error {
  font-size: var(--error-paragraph-size);
  color: var(--primary-paragraph-color);
  padding: 1.6rem;
  background-color: var(--error-bg);
  box-shadow: var(--error-border);
}

@media (max-width: 54.125em) {
  .sm-container {
    max-width: 90rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 53%;
  }
}
